.env
/frontend/node_modules
.DS_Store
/logs
*.log
*.tmp
/coverage
/build
/dist
.vscode
.idea
*.swp
*.swo
/backend/.env
/frontend/.env
/backend/.DS_Store
/frontend/.DS_Store
/tests/__pycache__
/tests/*.pyc
/backend/__pycache__
/backend/*.pyc